*
{
    box-sizing: border-box;
}
body
{
    margin: 0px;
}
.App
{
    background-color: #222222;
    height:100vh
}
.head
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    background-color: #313030;
}
.m-items
{
    color: whitesmoke;
    margin: 2px 7px;
}