.side-cont
{
    border: 1px solid darkkhaki;
    margin: 0px 15px;
    max-width: 25%;
}
.side-head
{
    letter-spacing: 1.5px;
    text-align: center;
}
.side-a-list
{
    display: flex;
    justify-content: center;   
}

