@media screen and (max-width: 768px) {
  .side-cont {
    display: none;
  }
}
.side-Bar
{
    max-width: 25%;
    display: inline-block;
}
.side-cont
{
    
    border: 1px solid darkkhaki;
    margin: 0px 15px;
}
.side-head
{
    text-align: center;
    letter-spacing: 1.5px;
}
.card-wrap
{
    margin: 5px auto 5px auto;
    border: 1px solid green;
    padding: 20px;
    width: 80%;
    display: flex;
}
