*
{
    box-sizing:border-box;
}
.App
{
    color: cyan;
}
.navdiv
{
    background-color: #56718950;
}
.mainholder
{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 768px;
    border: 1px solid greenyellow;
}
.LogoBox
{
    display: inline-block;
    width:fit-content;

    padding: 2px 2px;
    border: 1px solid red;
}
.menuBox
{
    display: flex;
    justify-content: flex-start;

    padding: 2px;
    border: 1px solid orange;
}
.m-items
{
    margin: 0px 7px;
    display: inline-block;
}
